# The following files extensions and directories will be ignored by git tracking:

*.out
*.o
*.obj
*.exe
*.user
*.json

build-*/
Simulate_GoogleTest/
CMake_Tutorial/
Trees_old/
interview/
*/build/*
build/
