# The following files extensions and directories will be ignored by git tracking:

*.out
*.o
*.obj
*.exe
*.user
*.json
*.idx
*.pyc
*.pdf

Simulate_GoogleTest/
CMake_Tutorial/

build/
*/**/build
build-*/
*/build/*
*/.cache/

Trees_old/
interview/

