# These file types as below will be ignored from the git tracking :
*.exe
*.o
*.a
*.out
*.obj
*.log
*.ipch
*.json
*.sqlite
*.user
*.filters
*.tlog
*.txt
*.idb
*.pdb
*.ilk
*.db
*.opendb
*.suo
*.pdf
*.new.obj.enc
*.stackdump

*build*/
.vs/
Interview/
Interview_Test/
temp/
Multi_Threads/
Tesla*/
